#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app-info {
  text-align: center;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.app-content h4 {
  color: blueviolet;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}